


.header {
    position: absolute;
    background-color: #0f6091;
    color: white;
    top: 0;
    padding-top: 110px;
    left: 0;
    right: 0;
    width: 100% !important;
    height: 380px;
    text-align: center;
    vertical-align: middle;       
}

.header .title {
    color: white;
    font-size: 200%;
}

.header img {
    width: 100px;
    height: 100px;
}

.header .linksdiv {
    margin-top: 60px;
}

.header .link {
    margin: 10px;
    padding: 12px;
    padding-left: 35px;
    padding-right: 35px;
    background: white;
    color: #0f6091 !important;
    text-decoration: none;
    border-radius: 5px;
    border: white 1px solid;
}

.header .link:hover {
    text-decoration: none;
    background: #0f6091;
    color: white !important;
}

.header p {
    color: white !important;
    font-size: 21px;
    margin-top: 5px;
    text-align: center;
    width: 50%;
    margin:0 auto;
}

.bodywrapper {
    min-height: 80vh;
}

.two-sided {
    display: flex;
    margin-top: 50px;
}

.two-sided .left-side {
    width: 50%;
    padding: 5%;
    padding-top: 1%;
    padding-left: 0;
}

.two-sided .right-side {
    width: 50%;
}

.two-sided pre {
    overflow-y: scroll;
}

.all-projects {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.project {
    margin-top: 2.5em;
    margin-right: 2.5em;
    width: 300px;
    max-width: 300px;
    display: block;
    position: relative;
    height: 390px;
    margin-bottom: 4em;
}

.project a {
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

.project .title {
    font-weight: 500;
    font-size: 150%;
}

.project .logo {
    max-width: 100px;
    max-height: 100px;
}

.project .project-rule {
    border: 0; border-top: 1px solid #0f6091;
    margin: 1em 0; padding: 0;
}

.project .project-type {
    font-size: 13px;
}

.project .bottomer {
    position: absolute;
    bottom: 0;
    left: 0;
}

.project .tech-used {
    font-size: 13px;
    color: #0f6091;
}

.project .links {
    margin-top: 10px;
}

.project .links a {
    padding-right: 15px;
    color: #727273 !important;
}

.project .links a:hover {
    color: #0f6091 !important;
}

.featured-blog  {
    margin-bottom: 20px;
}

.featured-blog .heading {
    font-weight: 600;
    color: #0f6091 !important;
    font-size: 130%;
}

.featured-blog .cover-photo {
    float: right;
    height: 300px;
    max-height: 220px;
    max-width: 280px;
    margin-left: 10px;
}

.featured-blog p {
    margin-top: 2px;
    margin-bottom: 0px;
}

.featured-blog .date {
    color: grey;
    font-weight: 600;
}

